.brands-section {
  padding: 80px 60px 150px;
  background: #f5f7fa;
  position: relative;
  overflow: visible;
}



.brands-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.brands-top h2 {
  font-size: 32px;
  font-weight: 700;
   font-family: "Michroma", sans-serif;
}

.brands-top .view-all {
  font-size: 16px;
  color: #4a6bff;
  text-decoration: none;
  font-weight: 500;
}

.brand-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}

.brand-card {
  background: white;
  border-radius: 20px;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  transition: 0.25s ease;
  cursor: pointer;
}

.brand-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 26px rgba(0,0,0,0.12);
}

.brand-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 12px;
}

.brand-name {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
