
.emi-section {
  padding: 80px 20px;
  background: #fff;
}

.emi-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  font-family: "Michroma", sans-serif;
  margin-bottom: 40px;
}


.emi-box {
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 40px 50px;
  background: #ffffff;
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: 0 4px 18px rgba(0,0,0,0.06);
}


.emi-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  font-family: 'Montserrat', sans-serif;
}


.emi-chart-box {
  width: 380px;
  height: 380px;
  margin: 0 auto;
}

.chart-labels {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 12px;
  font-size: 15px;
}

.dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}
.dot.p { 
  background: #d6e4ff; 
}

.dot.i {
  background: linear-gradient(
    to right,
    #BF953F,
    #FCF6BA,
    #B38728,
    #FBF5B7,
    #AA771C
  );
}


.emi-inputs {
  width: 450px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 600;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}


input[type="range"] {
  width: 70%;
  height: 6px;
  border-radius: 50px;
  appearance: none;
  background: linear-gradient(
    to right,
    #FEBE10 var(--value),
    #e0e0e0 var(--value)
  );
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 3px solid #FEBE10;
  border-radius: 50%;
}


.number-input {
  width: 110px;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: right;
  background: #fff;
}

.number-input:focus {
  border-color: #00c853;
  outline: none;
}


.emi-results {
  margin-top: 25px;
  background: #f6f7fb;
  border-radius: 12px;
  padding: 20px;
}

.emi-results .row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 15px;
}



@media (max-width: 900px) {

  .emi-box {
    padding: 25px;
  }

  .emi-container {
    flex-direction: column;    
    align-items: center;
    gap: 40px;
  }

  .emi-chart-box {
    width: 260px;
    height: 260px;
  }

  .chart-labels {
    font-size: 14px;
  }

  .emi-inputs {
    width: 100%;
  }

  .input-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  input[type="range"] {
    width: 100%;
  }

  .number-input {
    width: 100%;
    text-align: left;
  }

  .emi-results {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .emi-title {
    font-size: 26px;
  }
}
