.featured {
  padding: 80px 60px;
  background: #f5f7fa;
  position: relative;
  padding-bottom: 120px;
  z-index: 5;
}


.featured-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.featured-top h2 {
  font-size: 32px;
  font-weight: 700;
}

.featured-top .view-all {
  font-size: 16px;
  color: #4a6bff;
  text-decoration: none;
  font-weight: 500;
}

.car-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}


.car-card {
  background: white;
  border-radius: 22px;
  box-shadow: 0px 8px 22px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: 0.25s ease;
}

.car-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 14px 28px rgba(0,0,0,0.15);
}


.car-img-container {
  position: relative;
}

.car-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #2ecc71;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  font-weight: 500;
}


.car-info {
  padding: 20px;
}

.car-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}

.car-info .desc {
  color: #6b6b6b;
  font-size: 14px;
  margin-bottom: 12px;
  height: 18px;
  overflow: hidden;
}

.specs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  color: #444;
  font-size: 14px;
}


.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-row strong {
  font-size: 20px;
}

.details {
  font-size: 14px;
  color: #4a6bff;
  text-decoration: none;
}
