.featured {
  padding: 100px 60px;
  background: #000;
  position: relative;
  padding-top: 80px;
  z-index: 5;
  overflow: hidden;
}

.featured::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    hsla(216, 33%, 97%, 1) 0%,
    hsla(216, 33%, 97%, 0.6) 25%,
    hsla(0, 0%, 11%, 0.4) 60%,
    hsla(0, 0%, 11%, 1) 100%
  );

  pointer-events: none;
  z-index: -1;
}


.featured-top {
  display: flex;
  justify-content: center;   
  align-items: center;       
  margin-bottom: 40px;
  flex-direction: column;
}


.featured-top h2 {
  font-size: 40px;
  font-weight: 700;
   font-family: "Michroma", sans-serif;
}

.featured-top p {
  margin-top: 10px;
}


.car-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}


.car-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.25s ease;
}

.car-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.15);
}


.car-img-container {
  position: relative;
}

.car-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #2ecc71;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  font-weight: 500;
}


.car-info {
  padding: 18px 20px 22px;
}


.car-title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 14px;
  line-height: 1.3;
  text-align: center;
   font-family: "Michroma", sans-serif;
}


.car-specs-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
}


.car-price {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.view-all-bottom {
  text-align: center;
  margin-top: 40px;
}

.view-all-bottom a {
  display: inline-block;
  background: #fff;
  color: #000;
  padding: 12px 26px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.25s ease;
}

.view-all-bottom a:hover {
  transform: translateY(-2px);
}
