
.filter-sidebar {
  position: fixed;
  left: 60px;         
  top: 120px;         
  height: calc(100vh - 140px);
  width: 300px;
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  overflow-y: auto;  
  z-index: 10;
}



.filter-sidebar::-webkit-scrollbar {
  width: 7px;
}
.filter-sidebar::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}


.filter-box {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}


.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 8px 0;
}

.filter-header h3 {
  font-size: 18px;
  margin: 0;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 14px;
}

.arrow.rotate {
  transform: rotate(180deg);
}


.filter-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, padding 0.25s ease;
  padding: 0 2px;
}

.filter-content.open {
  max-height: 500px;      
  padding: 10px 2px;
}


.filter-content label {
  display: block;
  margin: 6px 0;
  font-size: 15px;
}


.price-values {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

input[type="range"] {
  width: 100%;
  margin: 5px 0 12px 0;
}


.price-ranges label {
  margin-bottom: 4px;
}
