
.filter-sidebar {
  position: fixed;
  left: 5px;
  top: 80px;
  width: 400px;
  height: calc(100vh - 90px);
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  overflow-y: auto;
  z-index: 10;
}

.filter-sidebar::-webkit-scrollbar {
  width: 7px;
}
.filter-sidebar::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}


.filters-box {
  width: 100%;
  background: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  margin-top: 16px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.10);
}


.filters-title {
  font-size: 20px;
  font-weight: 700;
  padding: 16px 20px;
  border-bottom: 2px solid #e0e0e0;
  background: #fafafa;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.filters-wrapper {
  padding: 0;
}


.filter-row {
  border-bottom: 2px solid #e0e0e0;
}

.filter-row:last-child {
  border-bottom: none;
}

.filter-toggle {
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: #fafafa;
  font-size: 16px;
  font-weight: 500;
}

.filter-toggle:hover {
  background: #f0f0f0;
}

/* Arrow */
.arrow {
  font-size: 14px;
  transition: transform 0.3s ease;
  font-weight: bold;
}

.arrow.rotate {
  transform: rotate(180deg);
}


.filter-dropdown {
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  transition: all 0.35s ease;
}

.filter-dropdown.open {
  padding: 12px 18px;
  max-height: 500px;
}


.filter-dropdown label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
}


.price-values {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 500;
}

.filter-dropdown input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #dcdcdc;  
  border-radius: 4px;
  outline: none;
  margin: 12px 0 20px;
  cursor: pointer;
}


.filter-dropdown input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #19e06f;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  transition: 0.15s ease;
}

.filter-dropdown input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.15);
}


.filter-dropdown input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #19e06f;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  transition: 0.15s ease;
}

.filter-dropdown input[type="range"]::-moz-range-track {
  height: 6px;
  background: #dcdcdc;
  border-radius: 4px;
}


.sidebar-stop {
  position: absolute !important;
  bottom: 300px;
}
