.footer {
  background: #fff;
  padding: 60px 80px;
  border-top: 1px solid #eaeaea;
  color: #0f172a;
  margin-top: 80px;
}


.footer-top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e7eb;
}

.footer-col h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 18px;
}

.footer-col a {
  display: block;
  font-size: 15px;
  color: #475569;
  margin-bottom: 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.footer-col a:hover {
  color: #111;
}


.footer-col p {
  font-size: 15px;
  color: #475569;
  margin-bottom: 8px;
}


.connect-title {
  margin-top: 24px;
}

.social-icons {
  display: flex;
  gap: 18px;
  margin-top: 10px;
}

.social-icons svg {
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
  color: #475569;
}

.social-icons svg:hover {
  color: #111;
}


.footer-bottom {
  margin-top: 28px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #475569;
}

.footer-links a {
  font-size: 15px;
  color: #475569;
  text-decoration: none;
}

.footer-links a:hover {
  color: #111;
}

.footer-links span {
  margin: 0 8px;
}
