.footer {
  background: #000;
  padding: 60px 80px;
  border-top: 1px solid #000;
  color: #fff;

}


.footer-top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e7eb;
}

.footer-col h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 18px;
}

.footer-col a {
  display: block;
  font-size: 15px;
  color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.footer-col a:hover {
  color: #fff;
}


.footer-col p {
  font-size: 15px;
  color: #fff;
  margin-bottom: 8px;
}


.connect-title {
  margin-top: 24px;
}

.social-icons {
  display: flex;
  gap: 18px;
  margin-top: 10px;
}

.social-icons svg {
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
  color: #fff;
}

.social-icons svg:hover {
  color: whitesmoke;
}


.footer-bottom {
  margin-top: 28px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.footer-links a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  color: #fff;
}

.footer-links span {
  margin: 0 8px;
}

.footer-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0 10px;
}

.footer-logo img {
  width: 170px;
  height: auto;
  object-fit: contain;
  transition: all 0.3s ease;
}


.footer-logo img:hover {
  opacity: 1;
}




@media (max-width: 1100px) {
  .footer {
    padding: 50px 50px;
  }

  .footer-top {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}


@media (max-width: 768px) {
  .footer {
    padding: 40px 30px;
  }

  .footer-top {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .footer-col h4 {
    font-size: 18px;
  }

  .footer-col a, 
  .footer-col p {
    font-size: 14px;
  }

  .social-icons svg {
    font-size: 16px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
}


@media (max-width: 480px) {
  .footer {
    padding: 35px 22px;
  }

  .footer-top {
    grid-template-columns: 1fr;
    gap: 28px;
  }

  .footer-col h4 {
    font-size: 17px;
  }

  .footer-col a,
  .footer-col p {
    font-size: 13.5px;
  }

  .social-icons {
    gap: 14px;
  }

  .social-icons svg {
    font-size: 15px;
  }

  .footer-bottom {
    font-size: 14px;
  }

  .footer-links a {
    font-size: 13px;
  }
}
