
.contact-container {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  font-family: 'Montserrat', sans-serif;
}


.contact-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(240, 242, 245, 1) 0%,
    rgba(240, 242, 245, 0.7) 30%,
    rgba(15, 15, 15, 0.5) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: -1;
}


.contact-card {
  width: 100%;
  max-width: 1200px;

  background: rgba(255, 255, 255, 0.75); 
  backdrop-filter: blur(10px);

  border-radius: 5px;
  overflow: hidden;

  display: flex;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);

  margin-bottom: 40px; 
}


.form-image {
  flex: 1.1;
  position: relative;
  height: 620px;       
  min-height: 650px;  
  overflow: hidden;     
}

.form-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.image-text {
  position: absolute;
  bottom: 40px;
  left: 20px;
  color: white;
  text-shadow: 0 3px 25px rgba(0, 0, 0, 0.7);
}

.image-text h1 {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 10px;
}


.form-section {
  flex: 1;
  padding: 55px 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
 
.top-title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
  color: #222;
  font-family: 'Montserrat', sans-serif;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  color: #333;
  margin-bottom: 6px;
  font-weight: 600;
}


.form-section input,
.form-section select,
.form-section textarea {
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  padding: 14px;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.85);
  transition: 0.2s ease;
}

.form-section input:focus,
.form-section select:focus,
.form-section textarea:focus {
  border-color: #e63939;
  box-shadow: 0 0 0 3px rgba(230,57,57,0.2);
}


.submit-btn {
  background: #2d2d2d;
  color: white;
  padding: 14px 26px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}

.submit-btn:hover {
  background: #1d1d1d;
}




@media (max-width: 900px) {
  .contact-card {
    flex-direction: column;
  }

  .form-image {
    height: 330px;
  }

  .form-row {
    grid-template-columns: 1fr;
  }

  .form-section {
    padding: 35px;
  }

  .submit-btn {
    width: 100%;
  }
}
