* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* default hidden state */
.fade-card {
  opacity: 0;
  transform: translateY(35px);
}

/* animate when visible */
.fade-card.show {
  animation: fadeSlideUp 0.6s ease forwards;
}
