.hero {
  position: relative;
  width: 100%;
  height: 100vh;              
  min-height: 640px;
  overflow: hidden;
  background: #000;
  z-index: 0;
}


.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  filter: brightness(0.82);
}


@media (prefers-reduced-motion: no-preference) {
  @keyframes lightPulse {
    0% { filter: brightness(0.90); }
    50% { filter: brightness(1); }
    100% { filter: brightness(0.90); }
  }
  .hero-video { animation: lightPulse 8s ease-in-out infinite; }
}


.hero-left-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(
    to right,
    rgba(0,0,0,0.92) 0%,
    rgba(0,0,0,0.75) 35%,
    rgba(0,0,0,0.30) 70%,
    rgba(0,0,0,0) 100%
  );
  display: flex;
  align-items: center;
  padding-left: 70px;
  z-index: 3;
}


.hero-content {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 130px 40px 85px;
  color: #fff;
}


.hero-title span {
  display: block;
  font-size: 80px;
  font-weight: 700;
  line-height: 0.92;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
  margin-bottom: 4px;
}


.hero-desc {
  font-size: 18px;
  opacity: 0.92;
  max-width: 520px;
  color: #eaeaea;
  margin-bottom: 10px;   
  margin-left: 5px;
}


.cursor {
  display: inline-block;
  margin-left: 6px;
  animation: blink 0.8s infinite;
}
@keyframes blink {
  0%, 60% { opacity: 1; }
  60.01%, 100% { opacity: 0; }
}


@media (max-width: 900px) {
  .hero-left-overlay {
    width: 100%;
    padding: 0 22px;
    background: linear-gradient(
      to bottom,
      rgba(0,0,0,0.45) 0%,
      rgba(0,0,0,0.55) 30%,
      rgba(0,0,0,0.82) 100%
    );
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  .hero-content {
    position: relative;     
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0;
  }

  .hero-title {
    margin-top: 20px;
  }

  .hero-title span {
    font-size: 40px;
    line-height: 1.05;
    margin-top: 10px;
  }


  .hero-desc {
    position: absolute;
    bottom: 60px;          
    left: 0;
    font-size: 15px;
    max-width: 95%;
    margin: 0;              
  }
}


@media (max-width: 420px) {
  .hero-title span { font-size: 34px; }
  .hero-content { padding-top: 110px; }
}


@media (max-width: 900px) {
  .hero-title {
    margin-top: 0px; 
  }

  .hero-desc {
    bottom: 100px; 
  }
}

/* Extra small phones */
@media (max-width: 420px) {
  .hero-title {
    margin-top: -100px;
  }

  .hero-desc {
    bottom: 100px;
  }
}
