.hero {
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* dark overlay with gradient */
.hero-overlay {
  text-align: center;
  color: white;
  padding-top: 120px;
  width: 100%;
}

/* subtite */
.hero-subtext {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 16px;
}

/* main title */
.hero-title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* diff tabs */
.hero-tabs {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 30px;
}

.tab {
  font-size: 16px;
  cursor: pointer;
  opacity: 0.8;
}

.tab.active {
  font-weight: 600;
  opacity: 1;
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}

/* searcchboc */
.search-box {
  width: 80%;
  max-width: 900px;
  background: white;
  color: black;
  padding: 18px 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 22px;
  margin: 0 auto;
}

/* search items */
.search-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.search-item label {
  font-size: 14px;
  color: #444;
}

.search-item select {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 6px;
  margin-top: 4px;
  font-size: 14px;
}

/* search btn*/
.search-btn {
  background: #4662ff;
  color: white;
  padding: 16px 28px;
  font-size: 16px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
}
