.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  animation: lightPulse 8s ease-in-out infinite;
}

@keyframes lightPulse {
  0% { filter: brightness(0.95); }
  50% { filter: brightness(1); }
  100% { filter: brightness(0.95); }
}


.hero-left-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(
    to right,
    rgba(0,0,0,0.90) 0%,
    rgba(0,0,0,0.70) 40%,
    rgba(0,0,0,0.20) 80%,
    rgba(0,0,0,0) 100%
  );
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 150px 0 70px ; 
  color: white ;
}

.hero-eyebrow {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 12px;
}

.hero-title span {
  display: block;
  font-size: 80px;
  font-weight: 700;
  line-height: 0.92;
}

.hero-desc {
  margin-bottom: 20px;
  font-size: 18px;
  opacity: 0.85;
  max-width: 420px;
}


.cursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}
