.nav {
  width: 100%;
  padding-inline: 50px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  .nav {
  background: rgba(0,0,0,0.3); 
}

}

/* left section */
.nav-left {
  display: flex;
  align-items: center;
}

.brand {
  font-size: 22px;
  font-weight: 600;
}
a.nav {
  width: 100%;
  padding-inline: 50px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  background: rgba(0, 0, 0, 0.3); /* TEMPORARY */
}

/* left sect */
.nav-left {
  display: flex;
  align-items: center;
}

.brand {
  font-size: 22px;
  font-weight: 600;
}

/* right sect */
.nav-right {
  display: flex;
  align-items: center;
}

/* right sect(kept empty for whilee) */
.nav-right {
  display: flex;
  align-items: center;
}
