.recent {
  padding: 100px 60px;
  background: #000;
  position: relative;
  padding-top: 80px;
  z-index: 5;
  overflow: hidden;
}

.recent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;        
  height: 2px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.recent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    hsla(0, 0%, 11%, 1) 0%,     
    hsla(0, 0%, 11%, 0.7) 25%,  
    hsla(216, 33%, 97%, 0.5) 70%, 
    hsla(216, 33%, 97%, 1) 100%  
  );

  pointer-events: none;
  z-index: -1;
}


.recent-top {
  display: flex;
  justify-content: center;   
  align-items: center;       
  margin-bottom: 40px;
  flex-direction: column;
}


.recent-top h2 {
  color:#fff;
  font-size: 40px;
  font-weight: 700;
   font-family: "Michroma", sans-serif;
}

.recent-top p {
  color: #fff;
  margin-top: 10px;
}


.car-grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}


.car-card1 {
  background: white;
  border-radius: 12px;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.1);
  overflow: hidden;      
  transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;
  display: flex;
  flex-direction: column;
  height: 460px;
  position: relative;
  z-index: 2;
  will-change: transform;
}

.car-card1:hover {
  transform: translateY(-6px) !important;
  box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.18);
}



.recent .car-img-container1 {
  height: 260px !important;
  overflow: hidden;
}

.recent .car-img1 {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}



.car-title1 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  font-family: "Michroma", sans-serif;
  padding: 10px 8px;
  line-height: 1.35;

  height: 52px;        
  overflow: hidden;  
}


.car-specs-row1 {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #555;
  font-family: 'Montserrat', sans-serif;
  height: 24px;       
  margin: 6px 0 12px;
}

.car-info1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}


.car-price1 {
  margin-top: auto;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  padding-bottom: 6px;
}


.view-all-bottom1 {
  text-align: center;
  margin-top: 40px;
}

.view-all-bottom1 a {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 12px 26px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.25s ease;
}

.view-all-bottom1 a:hover {
  transform: translateY(-2px);
}

.car-divider1 {
  width: 85%;
  height: 1px;
  background: #e5e5e5;
  margin: 10px auto 14px auto; 
  border-radius: 2px;
}
